body{
    background: #f5f7f8;
}
#pagina{
    height: 700px;
    display: grid;
    grid-template-areas: "header header"
                         "nav section"
                         "nav footer";
    text-align: center;
    column-gap: 10px; /*separa columna*/
    row-gap: 10px; /* separa filas*/
    grid-template-rows: 200px 1rf 100px;
    grid-template-columns: 200px 1fr;
}
header{
    background-color: firebrick;
    grid-area: header;
}
nav{
    background-color: cadetblue;
    grid-area: nav;
}
section{
    background-color: mediumorchid;
    grid-area: section;
}
footer{
    background-color: rgb(103, 103, 207);
    grid-area: footer;
}